<h1>Podcast</h1>
<form (ngSubmit)="onSubmit()" style="width: 70vw">
  <div class="formElem">
    <label for="Title">Title: </label>
    <input
      type="text"
      id="Title"
      name="Title"
      [(ngModel)]="formData.Title"
      required
    />
  </div>

  <div class="formElem vert">
    <label for="Description">Description: </label>
    <textarea
      type="text"
      id="Description"
      name="Description"
      [(ngModel)]="formData.Description"
      required
    ></textarea>
  </div>

  <app-image-upload
    style="width: 100%"
    [user]="userObj"
    [previewURL]="formData.PosterName"
    (uploadComplete)="imageUploadComplete($event)"
    (uploadStarted)="imageUploadStart()"
  >
  </app-image-upload>
  <label for="Publish">Published: </label>
  <app-toggle-slider
    [isChecked]="formData.IsVisible"
    (toggle)="visibleToggle($event)"
  ></app-toggle-slider>
  <br />
  <div class="submitWrapper">
    <button type="submit">Submit</button>
    <div class="msgText" *ngIf="msgText">{{ msgText }}</div>
  </div>
</form>
