<h1>Podcast</h1>
<form (ngSubmit)="onSubmit()">
  <div class="formElem">
    <label for="Title">Title: </label>
    <input
      type="text"
      id="Title"
      name="Title"
      [(ngModel)]="formData.Title"
      required
    />
  </div>

  <app-image-upload
    [user]="userObj"
    [previewURL]="formData.PosterName"
    (uploadComplete)="imageUploadComplete($event)"
    (uploadStarted)="imageUploadStart()"
  >
  </app-image-upload>

  <div class="formElem">
    <label for="Description">Description: </label>
    <br />
    <textarea
      type="text"
      id="Description"
      name="Description"
      [(ngModel)]="formData.Description"
      required
    ></textarea>
  </div>
  <button type="submit">Submit</button>
</form>
