<form (ngSubmit)="onSubmit()">
  <app-image-upload
    [user]="userObj"
    [previewURL]="formData.PosterName"
    (uploadComplete)="imageUploadComplete($event)"
    (uploadStarted)="imageUploadStart()"
  >
  </app-image-upload>
  <br />
  <label for="name">Title: </label>
  <input
    type="text"
    id="Title"
    name="Title"
    [(ngModel)]="formData.Title"
    required
  />
  <br />
  <label for="email">Description: </label>
  <input
    type="text"
    id="Description"
    name="Description"
    [(ngModel)]="formData.Description"
    required
  />
  <br />
  <button type="submit">Submit</button>
</form>
