footer {
  background-color: var(--menu-bg-color);
  color: var(--menu-color);
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  position: fixed;
}

footer a {
  color: var(--menu-color-active);
}