.footer {
  background-color: var(--menu-bg-color);
  color: var(--menu-color);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: var(--menu-color-active);
}