.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.podcast-card {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.podcast-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.podcast-card p {
  margin: 0;
  color: #666;
}
.podcastDetails {
  margin-left: 10px;
}
