.container {
  max-width: calc(80%);
  margin: 0 auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: calc(50%);
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: calc(70%);
  }
}

@media (max-width: 900px) {
  .container {
    max-width: calc(85% );
  }
}

@media (max-width: 600px) {
  .container {
    max-width: calc(100%);
  }
}
