<div class="list-container">
  <h2>
    Episodes
    <button
      class="fa fa-plus"
      title="Add new episode"
      routerLink="/podcast/{{ this.globalService.PodcastID }}/episode/create"
    ></button>
  </h2>

  <div *ngIf="isLoading" class="loading-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <div class="episode-list" *ngIf="!isLoading">
    <ul>
      <li *ngFor="let episode of episodeList" class="itemWrapper">
        <img
          class="posterImage"
          [src]="globalService.imageURL(episode.PosterName)"
          alt="episodePoster"
        />
        <div class="textWrapper">
          <b class="episode-title">{{ episode.Title }}</b>
          <p class="episode-description">{{ episode.Description }}</p>
          <button
            class="fa fa-edit"
            routerLink="/podcast/{{ this.globalService.PodcastID }}/episode/{{
              episode._id
            }}"
          ></button>

          <button class="fa fa-remove" (click)="openPrompt(episode)"></button>
        </div>
        <div class="eyeDateWrapper">
          <div
            class="episode-visible fa"
            [ngClass]="{
            'fa-eye': episode.IsVisible,
            'fa-eye-slash': !episode.IsVisible,
          }"
          ></div>
          <div class="episode-created">{{ episode.Created }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
