<div class="list-container">
  <h2>
    Episodes
    <button
      class="fa fa-plus"
      title="Add new episode"
      routerLink="/podcast/{{ this.globalService.PodcastID }}/episode/create"
    ></button>
  </h2>

  <div *ngIf="isLoading" class="loading-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <div class="episode-list" *ngIf="!isLoading">
    <ul *ngFor="let episode of episodeList">
      <li>
        <div class="visibleWrapper">
          <div
            class="episode-visble fa"
            [ngClass]="{
            'fa-eye': episode.IsVisible,
            'fa-eye-slash': !episode.IsVisible,
          }"
          ></div>
        </div>
        <b class="episode-title">{{ episode.Title }}</b>
        <p class="episode-description">{{ episode.Description }}</p>
        <button
          class="fa fa-edit"
          routerLink="/podcast/{{ this.globalService.PodcastID }}/episode/{{
            episode._id
          }}"
        ></button>
        <p class="episode-created">{{ episode.Created }}</p>

        <button class="fa fa-remove" (click)="openPrompt(episode)"></button>
      </li>
    </ul>
  </div>
</div>
