<div class="header">
  <h1>Episode</h1>
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-progress-spinner
      mode="indeterminate"
      [diameter]="30"
    ></mat-progress-spinner>
  </div>
</div>

<form *ngIf="!isLoading" (ngSubmit)="onSubmit()" style="width: 70vw">
  <div class="formElem">
    <label for="Title">Title: </label>
    <input
      type="text"
      id="Title"
      name="Title"
      [(ngModel)]="formData.Title"
      required
    />
  </div>

  <div class="formElem">
    <ng-container *ngIf="formData.MediaFile; else elseBlock">
      <audio controls controlsList="nodownload">
        <source
          [src]="this.globalService.uploadConfig.URLPrefix + formData.MediaFile"
          type="audio/mpeg"
        />
      </audio>
    </ng-container>
    <ng-template #elseBlock>
      <app-file-upload
        style="width: 100%"
        [user]="userObj"
        (uploadFileName)="uploadComplete($event)"
        (uploadStarted)="uploadInProgress($event)"
      ></app-file-upload>
    </ng-template>
    <i *ngIf="formData.MediaFileOriginal">{{ formData.MediaFileOriginal }}</i>
  </div>

  <div class="formElem vert">
    <label for="Description">Description: </label>
    <textarea
      type="text"
      id="Description"
      name="Description"
      [(ngModel)]="formData.Description"
      required
    ></textarea>
  </div>

  <app-image-upload
    style="width: 100%"
    [user]="userObj"
    [previewURL]="formData.PosterName"
    (uploadComplete)="imageUploadComplete($event)"
    (uploadStarted)="imageUploadStart()"
    (imageChanged)="imageChanged()"
  ></app-image-upload>

  <div
    class="formElem"
    *ngIf="this.scheduledDate && !this.formData.IsVisible; else elseSchedule"
  >
    <label for="scheduledDate">Schedule</label>
    <input
      type="date"
      id="scheduledDate"
      name="scheduledDate"
      [(ngModel)]="this.scheduledDate"
      (change)="onDateChanged($event)"
      [min]="minDate"
    />
    <select
      id="timeSelect"
      class="timeSelect"
      name="timeSelect"
      [(ngModel)]="this.scheduledTime"
    >
      <option
        *ngFor="let time of times"
        [value]="time"
        [disabled]="isDisabled(time)"
      >
        {{ time }}
      </option>
    </select>
  </div>

  <ng-template #elseSchedule>
    <button type="button" (click)="setScheduleDate()">
      <span class="fa fa-calendar"></span> Set date to publish
    </button>
  </ng-template>

  <label for="Publish">Published: </label>
  <app-toggle-slider
    [isChecked]="formData.IsVisible"
    (toggle)="visibleToggle($event)"
  ></app-toggle-slider>
  <br />
  <div class="submitWrapper">
    <button type="submit" [disabled]="isUploadInProgress">Submit</button>
    <div class="msgText" *ngIf="msgText">{{ msgText }}</div>
  </div>
</form>
