<form (ngSubmit)="onSubmit()">
  <div>
    <ng-container *ngIf="formData.MediaFile; else elseBlock">
      <audio controls controlsList="nodownload">
        <source
          src="https://s3.il-central-1.amazonaws.com/web.il.oxymoron-tech.com/{{
            formData.MediaFile
          }}"
          type="audio/mpeg"
        />
      </audio>
    </ng-container>
    <ng-template #elseBlock>
      <app-file-upload
        [user]="userObj"
        (uploadFileName)="uploadComplete($event)"
        (uploadStarted)="uploadInProgress($event)"
      ></app-file-upload>
    </ng-template>
  </div>
  <label for="Title">Title: </label>
  <input
    type="text"
    id="Title"
    name="Title"
    [(ngModel)]="formData.Title"
    required
  />
  <br />
  <label for="Description">Description: </label>
  <input
    type="text"
    id="Description"
    name="Description"
    [(ngModel)]="formData.Description"
    required
  />
  <br />

  <app-image-upload
    [user]="userObj"
    [previewURL]="formData.PosterName"
    (uploadComplete)="imageUploadComplete($event)"
    (uploadStarted)="imageUploadStart()"
    (imageChanged)="imageChanged()"
  ></app-image-upload>

  <label for="Publish">Publish: </label>
  <app-toggle-slider
    [isChecked]="formData.IsVisible"
    (toggle)="visibleToggle($event)"
  ></app-toggle-slider>
  <br />
  <div class="submitWrapper">
    <button type="submit" [disabled]="isUploadInProgress">Submit</button>
    <div class="msgText" *ngIf="msgText">{{ msgText }}</div>
  </div>
</form>
