<form>
  <div>
    <app-file-upload [user]="userObj"></app-file-upload>
  </div>
  <label for="Title">Title: </label>
  <input
    type="text"
    id="Title"
    name="Title"
    [(ngModel)]="formData.Title"
    required
  />
  <br />
  <label for="Description">Description: </label>
  <input
    type="text"
    id="Description"
    name="Description"
    [(ngModel)]="formData.Description"
    required
  />
  <br />
  <!-- <div (click)="visibleToggle()" class="visibleDiv">
    {{ toggleText }}
    <div
      id="eyeDiv"
      class="fa"
      [ngClass]="{
        'fa-eye-slash': formData.IsVisible,
        'fa-eye': !formData.IsVisible,
        'fa-clock': formData.Scheduled
      }"
    ></div>
  </div>
  <br /> -->
  <label for="Publish">Publish: </label>
  <app-toggle-slider
    [isChecked]="formData.IsVisible"
    (toggle)="visibleToggle($event)"
  ></app-toggle-slider>
  <br />
  <br />
  <button type="button" (click)="onSubmit()">Submit</button>
</form>
