.item {
  cursor: pointer;
  text-align: center;
  padding: 2px;
}
h1 {
  /* float: left; */
  padding: 0px;
}
.headerCont {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: rgb(208, 208, 208);
}
.selected {
  background-color: rgb(206, 206, 206);
  border: 1px solid black;
  border-radius: 5px;
}
ul {
  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 10px 20px;
}
.createBtn {
  /* float: right; */
  margin-left: 20px;
  margin-top: 10px;
}

.closeBtn {
  justify-content: center;
  padding: 0px;
}
