div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
}

input[type="file"] {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
}

p {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

#imagePreview {
  width: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
}

#uploadProgress {
  margin-top: 10px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #777;
}
