<!-- TODO: 1. Get rid of upload button -->
<div>
  <label for="episodeArtwork">Episode Artwork:</label>
  <input
    type="file"
    id="episodeArtwork"
    name="episodeArtwork"
    accept="image/jpeg, image/jpe, image/jpg, image/png"
    (change)="handleFileInputChange($event)"
  />
  <p>Accepted file types: jpeg, jpe, jpg, png. Max file size: 4MB</p>
</div>
<img
  style="width: 100px"
  id="imagePreview"
  [src]="getImageUrl()"
  alt="Episode Artwork Preview"
  *ngIf="previewImageUrl !== undefined"
/>
