<div
  class="viewPort"
  [ngClass]="{ 'disable-content': globalService.isLoading }"
>
  <app-nav></app-nav>
  <div *ngIf="globalService.isLoading">
    <div class="poster">
      <mat-progress-spinner
        class="spinnerPoster"
        mode="indeterminate"
        [diameter]="100"
      ></mat-progress-spinner>
    </div>
  </div>
  <div *ngIf="!globalService.isLoading" style="overflow-y: auto">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">&copy; 2023 v.0.2.1</footer>
</div>
