/* The toggle switch container */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 42px; /* 70% of 60px */
  height: 23.8px; /* 70% of 34px */
}

/* Hide the default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider (the round disc) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 17.8px; /* 70% of 34px */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18.2px; /* 70% of 26px */
  width: 18.2px; /* 70% of 26px */
  left: 2.8px; /* 70% of 4px */
  bottom: 2.8px; /* 70% of 4px */
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--btn-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18.2px); /* 70% of 26px */
  -ms-transform: translateX(18.2px); /* 70% of 26px */
  transform: translateX(18.2px); /* 70% of 26px */
}
